<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spaceship page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>


 
<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />

</head>
<body>



	<div th:replace="fragments/header :: header">&nbsp;</div>
	

	<div class="container">
		<div class="starter-template">
			<h1>
				<span th:text="${message}"></span>
			</h1>
		</div>
	</div>
	
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	

</body>
</html>